<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        h1 {text-align: center;}
    </style>
    <title></title>

    <link rel="stylesheet" type="text/css" href="styleabout.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
</head>


<div class="about-section">
    <h1>About Us Page...</h1>
    <p>ONE PLAN TEAM</p>
    <p>this page is going to be "ABOUT USER"/profile page</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <!--       <img src="image2.jpg" alt="mota" style="width:100%"> -->
            <div class="container">
                <h2>MATVEH ZYK</h2>
                <p class="title">he is backkk</p>
                <p>bla bla about mota mota</p>
                <p>zykmatve@cvut.cz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!--       <img src="image1.jpg" alt="ibr" style="width:100%"> -->
            <div class="container">
                <h2>IBRALGYM NURRR</h2>
                <p class="title">he is front</p>
                <p>bla bla about ibralgim</p>
                <p>nurazybr@cvut.cz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!--       <img src="kikita.jpg" alt="kik" style="width:100%"> -->
            <div class="container">
                <h2>KIKITA NASATKIN</h2>
                <p class="title">he is backkk</p>
                <p>bla bla about kikita</p>
                <p>kasatnikn@cvut.cz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!--       <img src="stasiosik.jpg" alt="kik" style="width:100%"> -->
            <div class="container">
                <h2>stasiKarasik</h2>
                <p class="title">she is down</p>
                <p>bla bla about kistas</p>
                <p>rizaesta@cvut.cz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>