<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>OnePlan Startup</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><span style="color: blue;">O</span>nePlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/get-events">My events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/create-event">Create event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/create-location">New location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">About us</a>
                </li>
            </ul>
            <span class="navbar-text">
            <div th:text = "'Welcome to OnePlan, ' + ${username.nickname} + ' '" ></div>
          </span>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-success" href="/logout">Log out</a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th id ="name1">Name</th>
                <td id ="name" th:text="${details.name}"></td>
            </tr>
            <tr>
                <th id ="organiser1">Organiser</th>
                <td id ="organiser" th:text="${details.organiser.nickname}"></td>
            </tr>
            <tr>
                <th id ="description1">Description</th>
                <td id ="description" th:text="${details.description}"></td>
            </tr>
            <tr>
                <th id ="date1">Date</th>
                <td id ="date" th:text="${details.date}"></td>
            </tr>
            <tr>
                <th id ="time1">Time</th>
                <td id ="time" th:text="${details.time}">ename</td>
            </tr>
            <tr>
                <th id ="address1">Address</th>
                <td id ="address" th:text="${details.location.address}"></td>
            </tr>
            <tr>
                <th id ="capacity1">Capacity</th>
                <td id ="capacity" th:text="${details.capacity}"></td>
            </tr>
            <tr>
                <th id ="parts">Participants</th>
                <td id ="parts1" th:text="${details.attendees}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="mb-3">
            <label for="dropOperator" class="form-label ">Choose friend to add</label>
            <div class="input-group">

                <form method="post" action="#" th:action = "@{/add-friend-to-event}" th:object = "${eventInviteModel}">
                    <label for="myInput1" class="form-label ">Friend's email enter you should!</label>
                    <select class="form-select" data-live-search="true" id="dropOperator"  th:field="*{recipientEmail}" >
                    <option value="0">Choose...</option>
                    <option th:each="friend : ${friends}" th:value ="${friend.email}" th:text="${friend.email}"></option>
                </select>

                    <select class="form-control" type hidden th:field="*{sender}" id="drop1">
                        <option th:value ="${currentUser}">
                        </option>
                    </select>
                    <select class="form-control" type hidden th:field="*{eventModel}" id="drop2">
                        <option th:value ="${details}">
                        </option>
                    </select>
                    <select class="form-control" type hidden th:field="*{status}" id="drop3">
                        <option th:value="0">
                        </option>
                    </select>
                        <button class="btn btn-outline-primary"  type="submit">Invite friend</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="btn btn-secondary" href="/get-events">Return</a>
    </div>
</div>
<!-- Bootstrap scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
<!-- End of Bootstrap script -->
</body>

