<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>OnePlan Startup</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><span style="color: blue;">O</span>nePlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/get-events">My events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create-event">Create event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/create-location">New location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">About us</a>
                </li>
            </ul>
            <span class="navbar-text">
            <div th:text = "'Welcome to OnePlan, ' + ${username.nickname}"></div>
          </span>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-success" href="/logout">Log out</a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://blush-design.imgix.net/collections/shiny-happy-people/c0c0cf87-a577-4a45-b133-7d237b4cc3e8.png?auto=compress&cs=srgb" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: white;">
                    <h5>Incoming invitations</h5>
                    <a class="btn btn-outline-success" href="/#">Go to invitations</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://blush-design.imgix.net/collections/shiny-happy-people/c0c0cf87-a577-4a45-b133-7d237b4cc3e8.png?auto=compress&cs=srgb" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: white;">
                    <h5>My network</h5>
                    <a class="btn btn-outline-success" href="/#">Go to network</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</body>
</html>