<body>
<table>
    <tr>
        <td class="fontsize">location</td>
        <td>
            <select id="drbfunction" class="select">
                <option selected="selected">Select</option>
            </select>
        </td>
    </tr>
</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js "></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script>
    SP.SOD.executeFunc('sp.js', 'SP.ClientContext', getItems);


    function getItems() {
        $.ajax({
            url: _spPageContextInfo.webAbsoluteUrl + "/locations/GetByTitle('Tabletop%20Sessions')/items?Select=Title",
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                var result  = data.d.results;  // Get the results
                var selectInput  ="";       //create a variable for structure  a HTML to append select control
                for(var i=0; i<result.length; i++)
                {
                    var selectVal= result[i].Title;   // get the results of Title column into array
                    selectInput  = '<option value='+ selectVal +'>'+ selectVal +'</option>';  // pass the array of  values
                    $('#drbprogrames').append(selectInput);
                }
            },
            error: function (error) {
                alert(JSON.stringify(error));

            }
        });
    }
</script>