<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnePlan Startup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <form class="mb-3 mt-md-4" method="post" action = "#" th:action = "@{/newPassword/{email}(email = ${usersEmail})}" th:object = "${recoveryModel}">
                            <h2 class="fw-bold mb-2 text-uppercase "><span style="color: blue;">O</span>nePlan</h2>
                            <p class=" mb-5">Please enter your new password!</p>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Enter password</label>
                                <input  id="password" class="form-control" name="password" type="password" placeholder="Enter a password" required="required" autofocus th:field = "*{password}">
                            </div>
                            <div class="mb-3">
                                <label for="rPassword" class="form-label ">Repeat password</label>
                                <input  id="rPassword" class="form-control" name="rPassword" type="password" placeholder="Repeat a password" required="required" autofocus th:field = "*{rPassword}">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit">Change password</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>